.about-me-page {
    display: flex;
    position: relative;
}

.about-left {
    display: flex;
    position: relative;
    width: 20%;
    height: 100%;
    left: 0;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.profile-pic {
    display: flex;
    position: relative;
    object-fit: cover;
    width: 180px;
    height: 180px;
    margin-top: 3rem;
}

.profile-info {
    display: flex;
    position: relative;
    flex-direction: column;
}

.profile-name {
    display: flex;
    position: relative;
    margin-top: 0.5rem;
    margin-bottom: 0;
    color: #65558F;
    font-family: "Josefin Sans", sans-serif;
    font-size: 40px;
    font-weight: 400;
}

.profile-pronouns {
    display: flex;
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    color: #898989;
    font-family: "Josefin Sans", sans-serif;
    font-size: 32px;
    font-weight: 400;
}

.profile-university {
    display: flex;
    position: relative;
    margin-top: 1rem;
    color: #65558F;
    font-family: "Josefin Sans", sans-serif;
    font-size: 40px;
    font-weight: 400;
}

.profile-social-links {
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 8rem;
}

.profile-email-group, .profile-insta-group, .profile-disc-group {
    display: flex;
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    align-items: center;
}

.profile-email-icon, .profile-insta-icon, .profile-disc-icon {
    display: flex;
    position: relative;
    object-fit: cover;
    height: 32px;
    margin-right: 1rem;
    margin-top: 0;
}

.profile-email, .profile-insta, .profile-disc {
    display: flex;
    position: relative;
    color: #65558F;
    font-family: "Josefin Sans", sans-serif;
    font-size: 32px;
    font-weight: 400;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.about-right {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 80%;
    right: 0;
}

.about-right-box {
    display: flex;
    position: relative;
    width: 90%;
    height: 100%;
    top: 2rem;
    background-color: #C9BBDA;
    flex-direction: column;
}

.about-box-header {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

.about-me {
    display: flex;
    position: relative;
    color: white;
    font-family: "Josefin Sans", sans-serif;
    font-size: 64px;
    font-weight: 400;
    margin: 2rem;
}

.edit-button {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background: #ECE6F0;
    border: none;
    height: 64px;
    width: 64px;
    margin: 2rem;
    border-radius: 20px;
    box-shadow: #65558F 4px 4px;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.edit-button:hover {
    transform: translate(4px, 4px);
    box-shadow: none;
}

.edit-button-img {
    display: flex;
    position: relative;
}

.about-inner-box {
    display: flex;
    position: relative;
    margin-left: 3rem;
    margin-right: 3rem;
    background-color: #E8DEF8;
    border-radius: 15px;
    min-height: 30%;
}

.about-me-text {
    display: flex;
    position: relative;
    text-align: left;
    margin: 2rem;
    color: #65558F;
    font-family: "Josefin Sans", sans-serif;
    font-size: 32px;
    font-weight: 400;
}