.left {
    display: flex;
    position: absolute;
    width: 60%;
    height: 100%;
    background: #C9BBDA;
}

.left-text {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    margin-left: 10%;
}

.welcome, .new, .roomies {
    color: #65558F;
    font-family: "Josefin Sans", sans-serif;
    font-size: 117px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 400;
}

.right {
    display: flex;
    position: absolute;
    right: 0;
    width: 40%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-text {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    font-size: 96px;
    color: #65558F;
    font-weight: 400;
    text-decoration: none;
}

.form {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 80%;
}

.email-text, .username-text, .password-text {
    display: flex;
    position: relative;
    color: #65558F;
    font-family: "Josefin Sans", sans-serif;
    font-size: 18px;
}

.email, .username, .password {
    display: flex;
    position: relative;
    border: 2px solid #65558F;
    border-radius: 10px;
    height: 30px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 16px;
    padding: 10px;
}

.submit {
    display: flex;
    position: relative;
    background: #65558F;
    color: #FFFFFF;
    font-family: "Josefin Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: 40px;
    padding: 10px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}